body {
  margin: 0 auto;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}